/services/data/raw/agency.txt
/services/data/raw/calendar.txt
/services/data/raw/fare_attributes.txt
/services/data/raw/fare_rules.txt
/services/data/raw/frequencies.txt
/services/data/raw/shapes.txt
/services/data/raw/stop_times.txt
/services/data/raw/stops.txt
/services/data/raw/trips.txt
/.idea/vcs.xml
/.idea/workspace.xml
/services/data/raw/yschmitzz_gtfs.zip
.env