.venv
__pycache__/md2.cpython-37.pyc
__pycache__/modulo_teste.cpython-37.pyc
__pycache__/pagina_principal.cpython-37.pyc
.idea/clone_cittamobi.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/launch.json
.vscode/settings.json
.gitignore
services/__pycache__/__init__.cpython-37.pyc
services/__pycache__/linha_service.cpython-37.pyc
services/__pycache__/parada_service.cpython-37.pyc
services/__pycache__/posicao_veiculo_service.cpython-37.pyc
services/__pycache__/service_sptrans_api.cpython-37.pyc
services/__pycache__/service_sptrans.cpython-37.pyc
services/__pycache__/teste.cpython-37.pyc
services/__pycache__/validador_json.cpython-37.pyc
entidades/__pycache__/__init__.cpython-37.pyc
entidades/__pycache__/linhas.cpython-37.pyc
entidades/__pycache__/mapa.cpython-37.pyc
entidades/__pycache__/onibus.cpython-37.pyc
entidades/__pycache__/parada.cpython-37.pyc
entidades/__pycache__/posicao.cpython-37.pyc
entidades/__pycache__/trajeto.cpython-37.pyc
.env
