@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


#id_barra {
    color: white;
}

#id_container_pages {
    color: #F6F8FE;
}

#nav_custom {
    margin-right: 20px;
}

.class_paradas {
    line-height: 10px black;
    width: 90%;
}

.class_linha_paradas {
    margin-left: 10px;
}

#saida {
    height: 36%;
    margin-bottom: 10px;
    margin-top: 10px;
}